body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* background-color: coral; */
    /* background-image: url(https://imgs.699pic.com/images/500/476/958.jpg!seo.v1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local; */
    /* background: url(https://imgs.699pic.com/images/500/476/958.jpg!seo.v1) no-repeat center/cover fixed;  */
    /* linear gradient   */
    background:linear-gradient(to right,lightgreen,darkblue);
}