* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}


.content {
    margin-top: 40px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    /* border: 1px solid red; */
    gap: 20px;
}

ul {
    display: flex;
    list-style: none;
    /* margin-bottom: 40px; */
    background-color: #f5f5f5;
    padding: 15px;
}

ul::after {
    content: "";
    clear: both;
    display: table;
}

ul li {
    padding: 10px;
}


a {
    text-decoration: none;
    color: hsl(0, 2%, 47%);
    font-size: 20px;
}

a:hover {
    color: #ff0000;
}

.flexbox {
    background-color: orangered;
    /* height: 70px;
    line-height: 70px; */
    font-weight: 800;
    padding: 25px;
    font-size: 28px;
    text-transform: capitalize;
}

h4 {
    padding: 5px;
    background-color: orangered;
    color: white;
}

.lorem {
    flex: 1;
}

.post {
    width: 250px;
}

.post-text {
    padding: 5px;
    border-bottom: 1px solid #CCC;
    background-color: #f4f4f4;
} 

.post-text:hover {
    color: #ff0000;
}

/* .container {
    width: 900px;
    margin: auto;
} */

@media (max-width: 768px) {
    /* .lorem {
        padding: 20px;
    } */

    .lorem h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .nav-list li {
        border-bottom: 1px solid #CCC;
    }

    .main aside {
        width: 100%;
        text-align: center;
    } 
} 