/* universal selector  */
* {
    word-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* element selector  */
p {
    color: #55eb14;
}

/* id selector  */
#heading {
    color: blue;
}

#unique-box {
    border: 2px solid purple;
    padding: 2px;
    margin-bottom: 10px;
}

/* class selector  */
.simply {
    color: rgb(255, 0, 247);
}

.box {
    background-color: rgb(155, 121, 155);
}

/* attribute selector */
input[type="text"] {
    border: 2px solid #652cc0;
}

/* descendant selector  */
/* element */
div h2 {
    color: peru;
}

ul.list li.highlight {
    color: red;
}

/* direct child selector  */
/* class and element  */
ul.list > li {
    list-style-type: square;
    margin-left: 120px;
}

/* direct child element */
div > h2 {
    color: purple;
}

/* direct child class  */
.box > .clild {
    color: pink;
}

/* multiple class selection within element  */
.inner-box.first-box {
    color: palevioletred;
}

h5,
h6 {
    color: plum;
}

/* multiple class  */
.multiple1,
.multiple2
{
    color: powderblue;
}

/* adjacent sibling selector  */
/* element  */
div + a {
    color: rosybrown;
}

/* class  */
.link + .box-sibling{
    background-color: lightgreen;
}

/* general sibling selector */
.box ~ .general-sibling {
    background-color: #a4af41;
}


/* element  */
h1 ~ h4 {
    color: brown;
}

/* pseudo-class selector */
.pseudo-class-link:hover {
    color: #ff5733;
    text-decoration: underline;
}

/* pseudo-element selector  */
p::first-letter {
    text-transform: capitalize;
}